@padding: 15px;
@color-bg: #ddd;
@color-bg-accent: #ffe7d8;
@color-gray: #666;
@color-red: #f14732;
@fontsize-small: 15px;
@fontsize-medium: 16px;
@fontsize-big: 30px;



/**
 * COMMON 
 */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: @fontsize-medium;
}
body { padding: 0; margin: 0; }
a, button { 
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: @color-red;
  }
}
.wrapper { 
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 @padding;
}
.wrapper-small {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 @padding;
}




/**
 * COMPONENTS 
 */

.header {
  display: flex;
  h1 { 
    margin: 0;
    flex: 0 0 auto;
    .logo { width: 100px; height: 100px; }
  }

  /* Desktop navigation */
  & > .navig {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .item {
      height: 36px;
      line-height: 36px;
      padding-left: calc(@padding * 2);
      position: relative;
      text-transform: uppercase;
      .opener {
        padding: 2px 4px;
        margin-left: 3px;
        .openericon {
          top: -2px;
          display: inline-block;
          position: relative;
        }
      }
      .subcats {
        position: absolute;
        top: 36px; left: @padding;
        padding: calc(@padding/2) 0;
        width: 175px;
        background: white;
        box-shadow: 0px 0px 3px #0003;
        border: 1px solid @color-bg;
        z-index: 100;
        .subcat {
          display: block;
          padding: 0 @padding;
          text-transform: uppercase;
        }
      }
    }
  }

  /* Response navigation */
  .response { 
    display: none;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    .hamburger {
      font-size: @fontsize-big;
      font-weight: 700;
      background: white;
      border: white;
      &:hover { color: @color-red; }
    }
    .navig {
      position: absolute;
      width: 300px;
      top: 65px;
      padding: calc(@padding/2) 0;
      background: white;
      box-shadow: 0px 0px 3px #0003;
      border: 1px solid @color-bg;
      z-index: 100;
      .item {
        line-height: 36px;
        padding: 0 @padding;
        position: relative;
        text-transform: uppercase;
        .opener { 
          padding: 0 calc(@padding/2);
          .openericon {
            position: relative;
            top: -2px;
          }
        }
        .subcats {
          font-size: @fontsize-small;
          a {
            display: inline-block;
            margin-right: calc(@padding);
            margin-top: calc(@padding/4);
            margin-bottom: calc(@padding/4);
            color: @color-gray;
            line-height: 21px;
            border-bottom: 1px dotted transparent; 
            &:last-child { margin-right: 0; }
            &:hover { border-bottom: 1px dotted @color-gray; }
          }
        }
      }
    }
  }
}

.highlighted {
  display: flex;
  justify-content: space-between;
  width:100%;
  .item {
    height: 28vw;
    flex: 0 0 auto;
    width: calc(~"(100% - ("@padding~"))/4");
    background: gray;
    position: relative;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    .thumb { display: none; }
    .content {
      text-align: center;
      position: absolute;
      bottom: 3.5vw;
      width: 100%;
      color: white;
      padding: 0 @padding;
      width: 100%;
      .category {
        display: inline-block;
        text-transform: uppercase;
        font-size: @fontsize-small;
        margin-bottom: @padding;
        color: white;
        transition: all 0.5s;
        border-bottom: 1px dotted transparent;
        &:hover {
          border-bottom: 1px dotted white;
        }
      }
      .title {
        font-size: @fontsize-big;
        margin-bottom: @padding;
        max-height: 111px;
        overflow: hidden;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        cursor: pointer;
      }
      .perex { display: none; }
      .more {
        font-size: @fontsize-small;
        border: 1px solid white;
        line-height: 36px;
        padding: 0 @padding;
        display: inline-block;
        font-weight: 400;
        color: white;
        transition: all 0.5s;
        &:hover {
          background: #0003;
        }
      }
    }
  } 
}

.articles {
  .grid-sizer,
  .grid-item { width: calc(~"(100% - "@padding*2~")/3") }
  .gutter-sizer { width: @padding; }
  .grid-item {
    text-align: center;
    margin-bottom: calc(@padding*3);
    img {
      width: 100%;
      height: auto;
      display: block;
    }
    .category { 
      font-size: @fontsize-small;
      text-transform: uppercase;
      margin-top: @padding;
      display: inline-block;
      color: @color-gray;
      transition: all 0.5s;
      border-bottom: 1px dotted transparent;
      &:hover {
        border-bottom: 1px dotted @color-gray;
      }
    }
    .title {
      font-size: @fontsize-big;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin-top: calc(@padding/2);
      cursor: pointer;
    }
    .divider {
      display: inline-block;
      width: 33.33%;
      border-bottom: 1px solid black;
      margin-top: @padding;
    }
    .perex {
      font-size: @fontsize-small;
      margin-top: @padding;
      color: @color-gray;
    }
    .more {
      font-size: @fontsize-small;
      margin-top: @padding;
      display: inline-block;
      font-weight: 600;
      color: @color-gray;
      transition: all 0.5s;
      &:hover {
        color: @color-red;
      }
    }
  }
}

.page-home .articles { margin-top: calc(@padding*4); }

.detail {
  .title {
    background: @color-bg-accent;
    padding: calc(@padding*4) 0;
    margin-bottom: @padding;
    margin-top: 0;
    * {
      font-family: 'Raleway', sans-serif;
      font-size: @fontsize-big;
    }
  }
  .content {
    color: @color-gray;
    blockquote {
      padding: @padding;
      font-style: italic;
      font-weight: 600;
      background: @color-bg-accent;
      margin: @padding 0;
      color: black;
    }
  }
}







/**
 * RESPONSIVE DESIGN
 */

@media only screen and (max-width: 1200px) {
  .header {
    & > .navig { display: none; }
    .response { 
      display: flex;
    }
  }

  .highlighted {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    .item {
      background: @color-bg !important;
      padding: calc(@padding/2);
      margin-bottom: 2px;
      width: 100%;
      height: auto;
      display: flex;
      &:last-child { border-bottom: 0px; }
      .thumb {
        display: inline-block;
        width: 200px;
        height: 200px;
        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
        
      }
      .content { 
        position: relative; 
        color: black;
        bottom: 0px;
        text-align: left;
        .category {
          color: @color-gray;
          margin: 0;
          font-size: @fontsize-small;
          &:hover {
            border-color: @color-gray;
          }
        }
        .title { 
          margin-bottom: calc(@padding/2); 
          font-size: calc(@fontsize-big/1.2);
        }
        .perex { 
          display: block; 
          font-size: @fontsize-small;
          color: @color-gray;
          max-height: 61px;
          overflow: hidden;
        }
        .more {
          border: 0;
          color: @color-gray;
          font-weight: 600;
          padding: 0;
          line-height: 24px;
          position: absolute;
          bottom: 0; right: calc(@padding/2);
          &:hover {
            color: @color-red;
            background: none;
          }
        }
      }
    }
  }

  .articles {
    padding: 0;
    .grid-item {
      .category { font-size: @fontsize-small; }
      .title { 
        /* margin-bottom: calc(@padding/2); */
        font-size: calc(@fontsize-big/1.2);
      }
      .perex { font-size: @fontsize-small; }
    }
  }

  .page-home .articles { margin-top: @padding; }

  .detail .title * { font-size: @fontsize-big/1.2; }
}

@media only screen and (max-width: 1015px) {
  .articles { padding: 0 @padding; }
  .highlighted { padding: 0 @padding; }
}

@media only screen and (max-width: 700px) {
  .header {
    h1 img { height: 75px; }
  }
  .highlighted {
    padding: 0 calc(@padding/2);
    .item {
      padding: 0;
      .thumb {
        width: 130px;
        height: 200px;
        img {
          width: 130px;
          height: 200px;
        }
      }
      .content { 
        padding: calc(@padding/2); 
        .title {
          font-size: calc(@fontsize-big/1.4);
          max-height: 75px;
          overflow: hidden;
        }
        .more {
          bottom: calc(@padding/2);
          right: calc(@padding/2);
        }
      }
    }
  }

  .articles {
    padding: 0 calc(@padding/2);
    .grid-sizer,
    .grid-item { width: calc(~"(100% - ("@padding~")/2)/2") }
    .gutter-sizer { width: calc(@padding/2); }
    .grid-item {
      .title { font-size: calc(@fontsize-big/1.4); }
    }
  }

  .page-home .articles { margin-top: calc(@padding/2); }

  .detail .title {
    padding: calc(@padding*3) 0;
    * { font-size: @fontsize-big/1.4; }
  }
}

@media only screen and (max-width: 400px) {

  .header {
    padding-left: 0;
    padding-right: calc(@padding/2);
  }

  .highlighted {
    padding: 0 0;
    .item .content .title { font-size: calc(@fontsize-big/1.7); }
  }

  .articles {
    padding: 0 @padding;
    .grid-sizer,
    .grid-item { width: 100%; }
    .gutter-sizer { width: 0; }
    .grid-item {
      .title { 
        font-size: calc(@fontsize-big/1.7);
      }
    }
  }

  .page-home .articles { margin-top: @padding; }

  .detail {
    .title { 
      font-size: calc(@fontsize-big/1.7);
      padding: calc(@padding*2) 0;
      .wrapper { padding: 0 calc(@padding/2); }
    }
    .content { 
      padding: 0 calc(@padding/2); 
      * {
        font-size: @fontsize-small;
      }
    }
  }

}