/**
 * COMMON 
 */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
}
a,
button {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
}
a:hover,
button:hover {
  color: #f14732;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper-small {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}
/**
 * COMPONENTS 
 */
.header {
  display: flex;
  /* Desktop navigation */
  /* Response navigation */
}
.header h1 {
  margin: 0;
  flex: 0 0 auto;
}
.header h1 .logo {
  width: 100px;
  height: 100px;
}
.header > .navig {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header > .navig .item {
  height: 36px;
  line-height: 36px;
  padding-left: calc(30px);
  position: relative;
  text-transform: uppercase;
}
.header > .navig .item .opener {
  padding: 2px 4px;
  margin-left: 3px;
}
.header > .navig .item .opener .openericon {
  top: -2px;
  display: inline-block;
  position: relative;
}
.header > .navig .item .subcats {
  position: absolute;
  top: 36px;
  left: 15px;
  padding: calc(7.5px) 0;
  width: 175px;
  background: white;
  box-shadow: 0px 0px 3px #0003;
  border: 1px solid #dddddd;
  z-index: 100;
}
.header > .navig .item .subcats .subcat {
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
}
.header .response {
  display: none;
  flex: 1 0 auto;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.header .response .hamburger {
  font-size: 30px;
  font-weight: 700;
  background: white;
  border: white;
}
.header .response .hamburger:hover {
  color: #f14732;
}
.header .response .navig {
  position: absolute;
  width: 300px;
  top: 65px;
  padding: calc(7.5px) 0;
  background: white;
  box-shadow: 0px 0px 3px #0003;
  border: 1px solid #dddddd;
  z-index: 100;
}
.header .response .navig .item {
  line-height: 36px;
  padding: 0 15px;
  position: relative;
  text-transform: uppercase;
}
.header .response .navig .item .opener {
  padding: 0 calc(7.5px);
}
.header .response .navig .item .opener .openericon {
  position: relative;
  top: -2px;
}
.header .response .navig .item .subcats {
  font-size: 15px;
}
.header .response .navig .item .subcats a {
  display: inline-block;
  margin-right: calc(15px);
  margin-top: calc(3.75px);
  margin-bottom: calc(3.75px);
  color: #666666;
  line-height: 21px;
  border-bottom: 1px dotted transparent;
}
.header .response .navig .item .subcats a:last-child {
  margin-right: 0;
}
.header .response .navig .item .subcats a:hover {
  border-bottom: 1px dotted #666666;
}
.highlighted {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.highlighted .item {
  height: 28vw;
  flex: 0 0 auto;
  width: calc((100% - ( 15px ))/4);
  background: gray;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.highlighted .item .thumb {
  display: none;
}
.highlighted .item .content {
  text-align: center;
  position: absolute;
  bottom: 3.5vw;
  color: white;
  padding: 0 15px;
  width: 100%;
}
.highlighted .item .content .category {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 15px;
  color: white;
  transition: all 0.5s;
  border-bottom: 1px dotted transparent;
}
.highlighted .item .content .category:hover {
  border-bottom: 1px dotted white;
}
.highlighted .item .content .title {
  font-size: 30px;
  margin-bottom: 15px;
  max-height: 111px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.highlighted .item .content .perex {
  display: none;
}
.highlighted .item .content .more {
  font-size: 15px;
  border: 1px solid white;
  line-height: 36px;
  padding: 0 15px;
  display: inline-block;
  font-weight: 400;
  color: white;
  transition: all 0.5s;
}
.highlighted .item .content .more:hover {
  background: #0003;
}
.articles .grid-sizer,
.articles .grid-item {
  width: calc((100% -  30px )/3);
}
.articles .gutter-sizer {
  width: 15px;
}
.articles .grid-item {
  text-align: center;
  margin-bottom: calc(45px);
}
.articles .grid-item img {
  width: 100%;
  height: auto;
  display: block;
}
.articles .grid-item .category {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 15px;
  display: inline-block;
  color: #666666;
  transition: all 0.5s;
  border-bottom: 1px dotted transparent;
}
.articles .grid-item .category:hover {
  border-bottom: 1px dotted #666666;
}
.articles .grid-item .title {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-top: calc(7.5px);
  cursor: pointer;
}
.articles .grid-item .divider {
  display: inline-block;
  width: 33.33%;
  border-bottom: 1px solid black;
  margin-top: 15px;
}
.articles .grid-item .perex {
  font-size: 15px;
  margin-top: 15px;
  color: #666666;
}
.articles .grid-item .more {
  font-size: 15px;
  margin-top: 15px;
  display: inline-block;
  font-weight: 600;
  color: #666666;
  transition: all 0.5s;
}
.articles .grid-item .more:hover {
  color: #f14732;
}
.page-home .articles {
  margin-top: calc(60px);
}
.detail .title {
  background: #ffe7d8;
  padding: calc(60px) 0;
  margin-bottom: 15px;
  margin-top: 0;
}
.detail .title * {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
.detail .content {
  color: #666666;
}
.detail .content blockquote {
  padding: 15px;
  font-style: italic;
  font-weight: 600;
  background: #ffe7d8;
  margin: 15px 0;
  color: black;
}
/**
 * RESPONSIVE DESIGN
 */
@media only screen and (max-width: 1200px) {
  .header > .navig {
    display: none;
  }
  .header .response {
    display: flex;
  }
  .highlighted {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
  }
  .highlighted .item {
    background: #dddddd !important;
    padding: calc(7.5px);
    margin-bottom: 2px;
    width: 100%;
    height: auto;
    display: flex;
  }
  .highlighted .item:last-child {
    border-bottom: 0px;
  }
  .highlighted .item .thumb {
    display: inline-block;
    width: 200px;
    height: 200px;
  }
  .highlighted .item .thumb img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .highlighted .item .content {
    position: relative;
    color: black;
    bottom: 0px;
    text-align: left;
  }
  .highlighted .item .content .category {
    color: #666666;
    margin: 0;
    font-size: 15px;
  }
  .highlighted .item .content .category:hover {
    border-color: #666666;
  }
  .highlighted .item .content .title {
    margin-bottom: calc(7.5px);
    font-size: calc(25px);
  }
  .highlighted .item .content .perex {
    display: block;
    font-size: 15px;
    color: #666666;
    max-height: 61px;
    overflow: hidden;
  }
  .highlighted .item .content .more {
    border: 0;
    color: #666666;
    font-weight: 600;
    padding: 0;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    right: calc(7.5px);
  }
  .highlighted .item .content .more:hover {
    color: #f14732;
    background: none;
  }
  .articles {
    padding: 0;
  }
  .articles .grid-item .category {
    font-size: 15px;
  }
  .articles .grid-item .title {
    /* margin-bottom: calc(@padding/2); */
    font-size: calc(25px);
  }
  .articles .grid-item .perex {
    font-size: 15px;
  }
  .page-home .articles {
    margin-top: 15px;
  }
  .detail .title * {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1015px) {
  .articles {
    padding: 0 15px;
  }
  .highlighted {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 700px) {
  .header h1 img {
    height: 75px;
  }
  .highlighted {
    padding: 0 calc(7.5px);
  }
  .highlighted .item {
    padding: 0;
  }
  .highlighted .item .thumb {
    width: 130px;
    height: 200px;
  }
  .highlighted .item .thumb img {
    width: 130px;
    height: 200px;
  }
  .highlighted .item .content {
    padding: calc(7.5px);
  }
  .highlighted .item .content .title {
    font-size: calc(21.42857143px);
    max-height: 75px;
    overflow: hidden;
  }
  .highlighted .item .content .more {
    bottom: calc(7.5px);
    right: calc(7.5px);
  }
  .articles {
    padding: 0 calc(7.5px);
  }
  .articles .grid-sizer,
  .articles .grid-item {
    width: calc((100% - ( 15px )/2)/2);
  }
  .articles .gutter-sizer {
    width: calc(7.5px);
  }
  .articles .grid-item .title {
    font-size: calc(21.42857143px);
  }
  .page-home .articles {
    margin-top: calc(7.5px);
  }
  .detail .title {
    padding: calc(45px) 0;
  }
  .detail .title * {
    font-size: 21.42857143px;
  }
}
@media only screen and (max-width: 400px) {
  .header {
    padding-left: 0;
    padding-right: calc(7.5px);
  }
  .highlighted {
    padding: 0 0;
  }
  .highlighted .item .content .title {
    font-size: calc(17.64705882px);
  }
  .articles {
    padding: 0 15px;
  }
  .articles .grid-sizer,
  .articles .grid-item {
    width: 100%;
  }
  .articles .gutter-sizer {
    width: 0;
  }
  .articles .grid-item .title {
    font-size: calc(17.64705882px);
  }
  .page-home .articles {
    margin-top: 15px;
  }
  .detail .title {
    font-size: calc(17.64705882px);
    padding: calc(30px) 0;
  }
  .detail .title .wrapper {
    padding: 0 calc(7.5px);
  }
  .detail .content {
    padding: 0 calc(7.5px);
  }
  .detail .content * {
    font-size: 15px;
  }
}
